<div class="modal fade" id="updateFolderModal" tabindex="-1" aria-labelledby="updateFolder" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modifier le dossier</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            {{ form_start(updateForm, {
                action: path('app_folder_update', { id: currentFolder.id }),
                method: 'POST',
                attr: { id: 'update-folder-form' }
            }) }}
                <div class="modal-body">
                    <div class="mb-3">
                        {{ form_row(updateForm.name, { label: "Nom du dossier" }) }}
{{ form_widget(updateForm.parent_id, {
    attr: { value: currentFolder.parent ? currentFolder.parent.id : '' }
}) }}                        {{ form_widget(updateForm.user_id, { attr: { value: app.user.id } }) }}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" class="btn btn-primary">Mettre à jour</button>
                </div>
            {{ form_end(updateForm) }}
        </div>
    </div>
</div>
